@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color: rgb(0, 0, 0);
    --bg: rgb(255, 255, 255);
    --border: rgb(228, 228, 231);
    --orange: rgb(242, 100, 49);
    --blue: rgb(26, 137, 248);
    --yellow: rgb(255, 174, 0);
    --light-text: hsl(240 10% 3.9%/.6);
}

html, body {
    height: 100%;
    width: 100%;
}

.light-border {
    border-color: var(--border);
}

.hover-color:hover {
    color: var(--color) !important;
}

.search {
    padding: 8px 48px 8px 16px;
    border-radius: 2.5px;
    height: 36px;
    width: 100%;
}

@keyframes openin {
    0% {
        opacity: 0%;       
    }
}

@keyframes closeout {
    100% {
        opacity: 0%;
    }
}