@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: giest-medium;
    src: url(/giest-medium.otf);
}

:root {
    --color: rgb(0, 0, 0);
    --bg: rgb(255, 255, 255);
    --border: rgb(228, 228, 231);
    --orange: rgb(242, 100, 49);
    --blue: rgb(26, 137, 248);
    --yellow: rgb(255, 174, 0);
    --light-text: hsl(240 10% 3.9%/.6);
    --map-border-light: rgb(102, 115, 144);
    --map-border-dark: rgb(102, 115, 144);
    --map-bg: #f4f4f5;
    --map-border: var(--map-border-light);
    --marker-color: #ec6b62;
    --selected-marker-color: rgb(26, 137, 248, 0.8);
    --map-overlay: rgb(255, 255, 255);
}

[data-mode="dark"] {
    --map-bg: #18181b;
    --map-border: var(--map-border-dark);
    --selected-marker-color: rgb(88, 162, 235);
    --marker-color: #d15c4a;
    --map-overlay: #020617;
}

html, body {
    height: 100%;
    width: 100%;
}

.light-border {
    border-color: var(--border);
}

.hover-color:hover {
    color: var(--color) !important;
}

.search {
    padding: 8px 48px 8px 16px;
    border-radius: 2.5px;
    height: 36px;
    width: 100%;
}

@keyframes openin {
    0% {
        opacity: 0%;       
    }
}

@keyframes closeout {
    100% {
        opacity: 0%;
    }
}

@keyframes expand-h {
    0% {
        height: 20px;
    }

    100% {
        height: 100%;
    }
}

@keyframes shrink-h {
    0% {
        height: 100%;
    }

    100% {
        height: 20px;
    }
}

.expand-history {
    animation: expand-h 0.3s;
}

.shrink-history[data-closing="true"] {
    animation: shrink-h 0.3s;
}

.shrink-history[data-closing="true"] .md {
    animation: closeout 1s;
}

.expand-history .md {
    animation: openin 1s;
}

.map {
    fill: var(--map-bg);
}

.map path {
    stroke-width: 0.4;
    stroke: var(--map-border);
}

.marker-point path {
    position: absolute;
    fill: var(--marker-color);
    stroke: none !important;
    cursor: pointer;
}

.marker-point path[data-selected="true"] {
    fill: var(--selected-marker-color) !important;
}